* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  cursor: pointer;
  display: inline-block;
  width: 12px;
}

.barleys-icon {
  margin-top: -12px;
}

.larger-icon {
  margin-top: 0;
  width: 30px;
}

/* nav */

.side-nav-bar {
  background-color: #354051;
  display: inline-block;
  height: 1265px;
  left: 0px;
  position: absolute;
  width: 165px;
}

.nav-profile-section {
  align-items: center;
  border-bottom: 1.5px solid #1F252E;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  padding: 20px 0px;
}

.nav-profile-section p {
  margin-top: 0px;
}

.nav-profile-section a {
  color: #A6B6D2;
  font-size: 12px;
  text-decoration: none;
}

.profile-picture {
  border-radius: 100%;
  margin: 10px auto;
  width: 80px;
}

.nav-section {
  border-bottom: 1.5px solid #1F252E;
  color: #949DAE;
  padding-bottom: 10px;
  padding: 0px;
}

.categories-nav-section {
  border-bottom: none;
}

.nav-bar-head {
  font-size: 12px;
  margin-top: 8px;
  padding: 8px 0px 0px 12px;
}

.nav-bar-list {
  border-left: 3px solid #35405100;
  color: #A6B6D2;
  font-size: 12px;
  padding-left: 12px;
  width: 100%;
}

.nav-bar-list:hover {
  background-color: #293140;
  border-left: 3px solid #2567FF;
  color: #fff;
  width: 100%;
}

/* main */

main {
  bottom: 0px;
  left: 165px;
  position: absolute;
  right: 0;
  top: 0px;
}

header {
  align-items: center;
  border-bottom: .25px solid #A6B6D2;
  display: inline-flex;
  height: 65px;
  margin-bottom: 5px;
  padding-bottom: 6px;
  width: 100%;
}

header .icon {
  width: 18px;
}

.header-icon-holder {
  border-right: .25px solid #A6B6D2;
  padding: 28px 30px 20px 30px;
}

.last-icon-holder {
  border-right: none;
}

.header-icon-holder:hover {
  background-color: #149BFA;
  cursor: pointer;
}

.header-icon-holder:hover .center-text-icon {
  content: url(images/icons/png/center-text-white.png);
}

.header-icon-holder:hover .user-icon {
  content: url(images/icons/png/contacts-social-network-white.png);
}

.header-icon-holder:hover .computer-icon {
  content: url(images/icons/png/computer-monitor-white.png);
}

.header-icon-holder:hover .tiles-icon {
  content: url(images/icons/png/tiles-view-white.png);
}

header input {
  background-image: url(images/icons/png/search.png);
  background-position: 20px 25px;
  background-repeat: no-repeat;
  background-size: 25px;
  border: none;
  border-right: .25px solid #A6B6D2;
  height: 70px;
  padding-left: 60px;
  width: 72%;
}

/* banner */

.overview-banner {
  box-sizing: border-box;
  height: 150px;
  padding: 0px 20px 0px 40px;
  width: 100%;
}

.banner-text-container {
  display: inline-block;
  height: 70%;
  min-width: 340px;
  width: 50%;
}

h1 {
  color: #354051;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.banner-subhead {
  color: #A6B6D2;
  font-size: 12px;
}

.preview {
  color: #149BFA;
  cursor: pointer;
}

.preview:hover {
  text-decoration: underline;
}

.banner-button-container {
  align-items: center;
  display: inline-flex;
  float: right;
  height: 70%;
  justify-content: space-between;
  min-width: 220px;
  padding-right: 3%;
  width: 18%;
}

.banner-button {
  border-radius: 42px;
  border: .5px solid #A6B6D2;
  height: 30px;
}

.circle-button {
  width: 30px;
}

.banner-button:hover {
  background-color: #D4E0E6;
}

.oval-button {
  align-items: center;
  border-radius: 15px;
  display: inline-flex;
  font-size: 12px;
  height: 30px;
  min-width: 65px;
  padding: 0px 10px;
}

.smaller-screen-button {
  display: none;
}

.banner-tabs {
  height: 25%;
  margin-top: 4px;
  width: 85%;
}

.banner-tabs ul {
  margin-top: 6px;
  padding: 4px 0px 0px 0px;
}

.banner-tab-items {
  border-bottom: 4px solid #fff;
  color: #A6B6D2;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin-right: 5.5%;
  padding: 0px 0px 10px 0px;
}

.banner-tab-items:hover {
  border-bottom: 4px solid #2567FF;
  color: #000;
}

.revealable { 
  display: none;
}

/* graphs & below */

.information-area {
  background-color: #EAF0F5;
  border-top: 2px solid #E1E7EB;
  padding: 50px 34px 20px 40px;
  width: 100%;
}

.donut-container {
  display: inline-block;
  min-width: 100px;
  width: 18%;
}

.chart-text {
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  -moz-transform: translateY(0em);
  -ms-transform: translateY(0em);
  -webkit-transform: translateY(0em);
  fill: #354051;
  font-size: 0.4em;
  font-weight: 700;
  line-height: .5;
  text-anchor: middle;
  transform: translateY(0em);
}

.chart-label {
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  fill: #949DAE;
  font-size: 0.2em;
  font-weight: 700;
  text-anchor: middle;
  text-transform: uppercase;
  transform: translateY(0.7em)
}

/* bar-graph */

.info-card {
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #c8c8c8;
  color: #fff;
  display: none;
  font-size: 12px;
  justify-content: center;
  min-height: 50px;
  padding: 0px 10px;
  text-align: center;
  width: 110px;
  width: 150px;
  z-index: 2;
}

.info-card .arrow {
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 8px 8px 0px 8px;
  bottom: -8px;
  left: 67px;
  position: absolute;
}

.bar-graph-container {
  display: inline-block;
  height: 160px;
  margin-left: 3%;
  min-width: 340px;
  position: relative;
  top: -30px;
  width: 38%;
}

.x-axis-label {
  bottom: -3px;
  font-size: 12px;
  position: relative;
}

.y-axis-labels {
  display: inline-flex;
  flex-direction: column;
  float: left;
  font-size: 9px;
  justify-content: space-between;
  margin-right: 3%;
  margin-top: -10px;
  text-align: right;
  width: 20px;
}

.vertical .progress-bar {
  border-radius: 3px;
  float: left;
  height: 100%;
  margin-right: 2.5%;
  text-align: center;
  width: 4%;
}

.vertical .progress-track {
  background: #D5E1E8;
  height: 100%;
  position: relative;
}

.vertical .progress-fill {
  background: #3FADC0;
  border-radius: 3px;
  color: #3FADC0;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  height: 50%;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.vertical .progress-fill:hover {
  background: #319DA6;
  color: #319DA6;
  cursor: pointer;
}

.button-container {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

.donut-graph-button-container {
  float: left;
  width: 60%;
}

.bar-graph-button-container {
  float: right;
  width: 40%;
}

.show-when-small {
  display: none;
}

.divider-section {
  align-items: center;
  display: inline-flex;
  height: 50px;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
  width: 100%;
}

.graph-text-divider {
  background: #D5E1E8;
  border: 0px;
  display: inline-block;
  height: 2px;
  width: 47%;
}

.graph-text-divider .left {
  float: left;
}

.graph-text-divider .right {
  float: right;
}

/* Job description area */

.job-description-table {
  align-items: flex-start;
  border: 1px solid #D5E1E8;
  display: inline-flex;
  font-size: 12px;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 470px;
  width: 65%;
}

tbody {
  background-color: #FFF;
}

tr {
  border-bottom: 1px solid #D5E1E8;
}

.job-description-table td {
  align-items: flex-start;
  background-color: #FFF;
  color: #64738A;
  display: inline-flex;
  justify-content: flex-start;
  min-height: 70px;
  padding-top: 20px;
}

.job-description-table .left-column {
  min-width: 140px;
  padding-left: 18px;
  width: 25%;
}

.job-description-table .extra-margin {
  margin-top: 1px;
}

.job-description-table .right-column {
  align-items: center;
  display: inline-flex;
  padding-bottom: 20px;
  padding-right: 30px;
  width: 75%;
}

.job-description-table .no-padding-top {
  padding-top: 0px;
}

.table-header td {
  background-color: #64738A;
  color: #FFF;
  display: inline-flex;
  align-items: center;
  padding: 0px;
}

.table-header .right-column {
  padding-bottom: 0px; 
}

.square-button {
  background-color: #73819D;
  border: none;
  color: #FFF;
  height: 26px;
  padding: 0px 10px; 
}

.hiring-lead-image {
  border-radius: 100%;
  width: 25px;
}

.salary {
  font-weight: 700;
}

/* Social Media area */

.social-media-area {
  display: inline-block;
  float: right;
  height: 300px;
  margin-top: 20px;
  width: 30%;
}

.social-media-button {
  border: none;
  color: #FFF;
  font-size: 12px;
  height: 40px;
  margin-bottom: 12px;
  padding-top: 6px;
  text-align: center;
  width: 100%;
}

.social-media-button:hover {
  border: none; 
  box-shadow: 1px 1px 4px #000;
}

.social-icon {
  float: left;
  margin-right: -24px;
  margin-top: -4px;
  width: 24px;
}

.facebook-button {
  background-color: #3B5998;
}

.twitter-button {
  background-color: #00ACED;
}

.twitter-button .social-icon {
  margin-left: 4px;
  width: 20px;
}

.linkedin-button {
  background-color: #0077b5;
}

.widget-container h5 {
  align-items: center;
  color: #64738A;
  display: inline-flex;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 15px;
}

.widget-icon {
  width: 16px;
}

.widget-container p {
  color: #64738A;
  font-size: 12px;
}

.widget-container input {
  border: none;
  font-size: 12px;
  height: 30px;
  margin-right: -4px;
  padding-left: 20px;
  width: 80%;
}

.widget-container button {
  background-color: #00ACED;
  border: none;
  color: #fff;
  height: 30px;
  position: relative;
  top: 1px;
  width: 19%;
}

.widget-container hr {
  margin-top: 20px;
  width: 100%;
}

.email-input {
  width: 100%;
}

/* media queries */

@media only screen and (max-width: 1220px) {
  .bar-graph-container {
    margin-bottom: 30px;
    top: 0;
  }

  .banner-tab-items {
    margin-right: 2%;
  }
}

@media only screen and (max-width: 1105px) {
  .side-nav-bar {
    display: none;
  }

  main {
    left: 0;
  }

  .job-description-table {
    width: 50%;
  }

  .job-description-table .right-column {
    width: 70%;
  }

  .social-media-area {
    width: 40%;
  }
}

@media only screen and (max-width: 900px) {
  .banner-tabs {
    width: 100%;
  }

  .information-area {
    padding: 50px 20px 20px 20px;
    text-align: center;
  }

  .graph-describer-button {
    display: none;
  }

  .donut-box {
    text-align: center;
    width: 100%;
  }

  .donut-container {
    width: 28%;
  }

  .bar-graph-container {
    margin-top: 30px;
    width: 65%;
  }

  .hide-when-small {
    display: none;
  }

  .show-when-small {
    display: block;
  }

  .donut-graph-button-container {
    width: 100%;
  }

  .job-description-table {
    width: 80%;
  }

  .job-description-table .right-column {
    width: 75%;
  }

  .social-media-area {
    float: none;
    width: 100%;
  }

  .social-media-button {
    margin: 0 10px 10px 10px;
    width: 27%;
  }

  .twitter-button {
    position: relative;
    top: 2px;
  }

  .widget-container {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    width: 40%;
  }

  .widget-container hr {
    display: none;
  }

  h5 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 750px) {
  .job-description-table {
    min-width: 470px;
    width: 65%;
  }

  .job-description-table .right-column {
    width: 70%;
  }

  .collapsable { 
    display: none;
  }

  .revealable { 
    display: inline-block;
  }
}

@media only screen and (max-width: 620px) {
  .social-media-area {
    display: inline-block;
    height: 300px;
    margin-top: 20px;
    width: 100%;
  }

  .social-media-button {
    height: 40px;
    width: 80%;
  }

  .twitter-button {
    top: 0px;
  }

  .widget-container {
    width: 80%;
  }

  .widget-container hr {
    display: block;
  }

  .banner-button-container {
    display: none;
  }
}

@media only screen and (max-width: 510px) {
  .job-description-table {
    min-width: unset;
    width: 100%;
  }

  .job-description-table .right-column {
    width: 60%;
  }

@media only screen and (max-width: 399px) {
  main {
    width: 100%;
  }

  header input {
    font-size: 12px;
    padding-left: 50px;
    width: 76%;
  }

  .information-area {
    padding: 10px;
  }

  .bar-graph-container {
    min-width: unset;
    width: 100%;
  }

  .vertical .progress-bar {
    width: 3%;
  }

  .donut-container {
    min-width: unset;
    width: 32%;
  }

  .square-button {
    margin-left: 10px;
  }

  .job-description-table .right-column {
    width: 52%;
  }

  h1 {
    font-size: 18px;
  }

  .overview-banner {
    padding: 0px;
  }

  .header-icon-holder {
    display: none;
  }

  .widget-container button {
    font-size: 12px;
  }

  .last-icon-holder {
    display: block;
    /*position: relative;
    right: -17px;*/
  }
}